.button {
    font-weight: 400;
    background: none;
    border: 2px solid #e08283;
    color: #e08283;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 75%;
  }