.radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e08283;

    input {
        opacity: 0;
        position: absolute;
    }

    &Button {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #e08283;
    }
      
      input:checked + &Button {
        background-color: #e08283;
        box-shadow: inset 0 0 0 1.5px white;
    }
}
